.contact-form {
}
.contact-form-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 23px -15px 69px;
}
.contact-form-left {
  margin: 0 15px;
  width: 40%;
}
.contact-form-right {
  margin: 0 15px;
  width: 40%;
}
.contact-form-content input {
  outline: none;
  border: 0;
  border-bottom: 1px solid rgb(177, 174, 174);
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 32px;
}
.contact-form__password input {
  margin-bottom: 0;
}

.contact-form-content label {
  display: block;
  color: rgb(177, 174, 174);
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.19rem;
  margin-bottom: 25px;
}

.contact-form__message textarea {
  width: 100%;
  height: 200px;
  resize: none;
  outline: none;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  border-bottom: 1px solid rgb(177, 174, 174);
  display: block;
  margin: auto;
}
.contact-form-button {
  width: 11em;
  background-color: #ec7979;
  color: #fff;
  font-weight: 600;
  font-size: 0.94rem;
  line-height: 1.25rem;
  padding: 0.75em 0;
  display: block;
  border: 0;
  margin: auto;
  cursor: pointer;
  text-transform: capitalize;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .contact-form__message textarea {
    height: 195px;
  }
}
@media (max-width: 767px) {
  .contact-form__message textarea {
    height: 192px;
  }
}

@media (max-width: 687px) {
  .contact-form-left {
    display: block;
    margin: auto;

    width: 70%;
  }
  .contact-form-right {
    display: block;
    margin: auto;

    width: 70%;
  }
  .contact-form-content label {
    margin-bottom: 15px;
  }
  .contact-form-content input {
    margin-bottom: 25px;
  }
  .contact-form__message textarea {
    height: 150px;
  }
}

@media (max-width: 468px) {
  .contact-form-left {
    display: block;
    margin: auto;

    width: 80%;
  }
  .contact-form-right {
    display: block;
    margin: auto;

    width: 80%;
  }
}
@media (max-width: 328px) {
  .contact-form-left {
    display: block;
    margin: auto;

    width: 90%;
  }
  .contact-form-right {
    display: block;
    margin: auto;

    width: 90%;
  }
}
