.header {
  background-color: #000000;
  padding: 20px 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.header-logo {
  color: #fff;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.88rem;
  line-height: 2.19rem;
  margin: 0 15px;
}

.header-logo::after {
  content: "IT";
  font-size: 1.88rem;
  color: rgb(250, 125, 125);
}
.header-navigation {
  width: 500px;
  margin: 0 15px;
  /*   display: flex;
  justify-content: flex-end;
  align-items: center; */
}
.header-navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navigation__item {
  color: rgb(156, 153, 153);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 3px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}
.navigation__item:hover {
  border-left: 3px solid yellow;
  border-bottom: 3px solid yellow;
}

.header-burger {
  border: 1px solid #fff;
  padding: 15px 10px;
  display: none;
  cursor: pointer;
}
.header-burger span {
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: auto;
  position: relative;
}

.header-burger span::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 7px;
  left: 0;
}
.header-burger span::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  left: 0;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}
@media (max-width: 767px) {
  .header {
    padding: 15px 0;
  }
}
@media (max-width: 700px) {
  .header {
    padding: 15px 0;
  }
  .header-navigation {
    width: 400px;
    margin: 0 15px;
  }
}

@media (max-width: 586px) {
  .header-navigation {
    width: auto;
  }
  .header-navigation-list {
    display: none;
  }
  .header-burger {
    display: block;
  }
}
