.pricing {
  background-color: #e5e5e5;
}
.pricing-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.pricing-list {
  width: 30%;
  margin: 0 15px;
  transition: 0.2s;
}

.pricing-list:hover {
  transform: translate(0, -20px);
  box-shadow: 40px 0 20px 20px rgba(221, 187, 175, 0.5);
}
.pricing-list__item {
  line-height: 2.5rem;
  background-color: #ffffff;
  margin-bottom: 2px;
  text-align: center;
  font-size: 0.88rem;
  font-weight: 400;
  color: #86878b;
}
.pricing-list__item-tariff {
  background-color: #333333;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  line-height: 3.13rem;
  margin-bottom: 2px;
  text-align: center;
}
.pricing-list__item-price {
  background-color: #333333;
  color: #ffffff;
  font-size: 2.19rem;
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  line-height: 6.25rem;
  margin-bottom: 2px;
  text-align: center;
}
.pricing-list__item-free {
  background-color: #333333;
  color: #86878b;
  font-size: 0.88rem;
  font-weight: 600;
  font-style: normal;
  line-height: 3.13rem;
  margin-bottom: 2px;
  text-align: center;
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .pricing-wrap {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .pricing-list {
    width: 45%;
    margin: 0 15px;
  }
  .pricing-list:last-child {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
}

@media (max-width: 666px) {
  .pricing-list {
    width: 300px;
  }
  .pricing-list:nth-child(2) {
    margin-top: 15px;
  }
}

@media (max-width: 468px) {
}
