.social {
  background-color: #f8efef;
  padding: 18px 0;
}
.social-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.social-item {
  width: 365px;
  margin: 0 15px;
}

.social-title {
  font-size: 1.25rem;
  line-height: 1.68rem;
  color: #333333;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 14px;
}
.social-description p {
  font-size: 0.88rem;
  line-height: 1.18rem;
  color: #86878b;
  font-weight: 400;
}
.social-icons {
  width: 684px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}
.facebook {
  font-size: 2.62rem;
  color: #d6d0d0;
  transition: 0.5s;
}
.facebook:hover {
  color: rgb(70, 70, 235);
}
.twitter {
  font-size: 2.62rem;
  color: #d6d0d0;
  transition: 0.5s;
}
.twitter:hover {
  color: rgb(0, 183, 255);
}
.google {
  font-size: 2.62rem;
  color: #d6d0d0;
  transition: 0.5s;
}
.google:hover {
  color: rgb(250, 64, 64);
}
.pinterest {
  font-size: 2.62rem;
  color: #d6d0d0;
  transition: 0.5s;
}
.pinterest:hover {
  color: rgb(240, 46, 32);
}
.instagram {
  font-size: 2.62rem;
  color: #d6d0d0;
  transition: 0.5s;
}
.instagram:hover {
  color: rgb(184, 8, 184);
}

.stumbleupon {
  font-size: 2.62rem;
  color: #d6d0d0;
  transition: 0.5s;
}
.stumbleupon:hover {
  color: coral;
}
.rss {
  font-size: 2.62rem;
  color: #d6d0d0;
  transition: 0.5s;
}
.rss:hover {
  color: rgb(14, 13, 13);
}

@media (max-width: 1200px) {
  .social-wrap {
    display: flex;
    justify-content: center;
  }
  .social-item {
    margin-bottom: 15px;
  }
  .social-title {
    text-align: center;
  }
  .social-description {
    text-align: center;
  }
}

@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 687px) {
}

@media (max-width: 468px) {
}
