.footer {
  padding: 30px 0 15px;
  background-color: #000000;
}
.footer-icons-list {
  width: 317px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 18px;
}
.facebook-footer {
  font-size: 23px;
  color: #d6d0d0;
  transition: 0.3s;
}
.facebook-footer:hover {
  color: rgb(70, 70, 235);
}
.twitter-footer {
  font-size: 23px;
  color: #d6d0d0;
  transition: 0.3s;
}
.twitter-footer:hover {
  color: rgb(0, 183, 255);
}
.google-footer {
  font-size: 23px;
  color: #d6d0d0;
  transition: 0.3s;
}
.google-footer:hover {
  color: rgb(250, 64, 64);
}
.pinterest-footer {
  font-size: 23px;
  color: #d6d0d0;
  transition: 0.3s;
}
.pinterest-footer:hover {
  color: rgb(240, 46, 32);
}
.instagram-footer {
  font-size: 23px;
  color: #d6d0d0;
  transition: 0.3s;
}
.instagram-footer:hover {
  color: rgb(184, 8, 184);
}

.stumbleupon-footer {
  font-size: 23px;
  color: #d6d0d0;
  transition: 0.3s;
}
.stumbleupon-footer:hover {
  color: coral;
}
.rss-footer {
  font-size: 23px;
  color: #d6d0d0;
  transition: 0.3s;
}
.rss-footer:hover {
  color: orange;
}
.text-footer {
  width: 200px;
  margin: auto;
}
.text-footer p {
  color: #928c8c;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
.text-footer p::before {
  content: "\f1f9";
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  font-weight: 600;
  color: #928c8c;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
}
