.header {
  background-color: #000000;
  padding: 20px 110px;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #fff;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.logo::after {
  content: "IT";
  font-size: 30px;
  color: rgb(250, 125, 125);
}
.navigation {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.navigation__item {
  color: rgb(156, 153, 153);
  vertical-align: middle;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  transition: 0.3s;
}
.navigation__item:hover {
  border-left: 3px solid yellow;
  border-bottom: 3px solid yellow;
}
