.pricing {
  background-color: #e5e5e5;
}
.pricing-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.pricing-list {
  width: 340px;
  margin: 0 15px;
}
.pricing-list__item {
  line-height: 40px;
  background-color: #ffffff;
  margin-bottom: 2px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
}
.pricing-list__item-tariff {
  background-color: #333333;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 50px;
  margin-bottom: 2px;
  text-align: center;
}
.pricing-list__item-price {
  background-color: #333333;
  color: #ffffff;
  font-size: 35px;
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  line-height: 100px;
  margin-bottom: 2px;
  text-align: center;
}
.pricing-list__item-free {
  background-color: #333333;
  color: #86878b;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 50px;
  margin-bottom: 2px;
  text-align: center;
}
